{% extends 'base.html.twig' %}

{% block title %}Edit Alarm{% endblock %}

{% block body %}
    <h1>Edit Alarm</h1>

    {{ include('alarm/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('alarm_index') }}">back to list</a>

    {{ include('alarm/_delete_form.html.twig') }}
{% endblock %}
