{% extends 'form.html.twig' %}

{% block title %}New Alarm{% endblock %}

{% block bodyForm %}
    <h1>Create new Alarm</h1>

    {{ include('alarm/_form.html.twig') }}

    <a href="{{ path('alarm_index') }}">back to list</a>
{% endblock %}
