{% extends 'form.html.twig' %}

{% block title %}New CollectionEntity{% endblock %}

{% block bodyForm %}
    <h2>Ajouter une collection</h2>

    {{ include('collection_entity/_form.html.twig') }}
    
{% endblock %}
