:root {
    --first-rgb: #ffffd0;
    --second-rgb: #300c0a;
    --third-rgb: 147, 52, 19;
}

$first-color: #ffffd0;
$nav-link-color: $first-color;
$navbar-dark-brand-color: $first-color;
$navbar-dark-brand-hover-color: $first-color;

@import "~bootstrap/scss/bootstrap"; 

body {
    background-color: var(--first-rgb);
    color: rgba(0, 0, 0, 0.5);
}

.navbar {
  opacity: 0.6;
  background-color: var(--second-rgb) !important; 
  height: 75px;
  transition: 1s ease-in-out;
}

.navbar:hover {
  opacity: 0.9;
}
  
.navbar-log {
    margin-right: inherit !important;
}
  
.navbar-brand {
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--first-rgb);
}
  
.dropdown-menu {
    background-color: var(--first-rgb);
}

.btn {
    color: var(--first-rgb);
    background-color: var(--second-rgb);
}
  
h1.title {
    color: var(--first-rgb);
    padding: 2px;
    font-style: oblique;
    text-shadow: 4px 4px 0px var(--second-rgb);
    opacity: 1;
    font-size: 250%;
    transition: 1s 2s;
}
  
h1.title:hover {
    color: tomato;
}

.imageFond {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
  
.imageTop {
    background-image: url('../images/books-2463779_1280.jpg');
}

.imageTop > div {
    display: flex;
    place-items: center;
    height: 75px;
  }