:root {
    --first-rgb: #f7d49e;
    --second-rgb: #300c0a;
    --third-rgb: 147, 52, 19;
}

$nav-link-color: #f7d49e;
$navbar-dark-brand-color: #f7d49e;
$navbar-dark-brand-hover-color: #f7d49e;

@import "~bootstrap/scss/bootstrap"; 

body {
    background-color: var(--first-rgb);
    color: rgba(0, 0, 0, 0.5);
}

.navbar {
  opacity: 0.6;
  background-color: var(--second-rgb) !important; 
  transition: 1s;
}

.navbar:hover {
  opacity: 0.9;
}
  
.navbar-log {
    margin-right: inherit !important;
}
  
.navbar-brand {
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--first-rgb);
}
  
.dropdown-menu {
    background-color: var(--first-rgb);
}