body {
    background-color: var(--first-rgb);
    color: rgba(0, 0, 0, 0.5);
}

div.title {
  display: flex;
  place-items: center;
  height: 500px;
}

h1.title {
  color: var(--first-rgb);
  padding: 2px;
  font-style: oblique;
  text-shadow: 4px 4px 0px var(--second-rgb);
  opacity: 1;
  font-size: 250%;
}

div.imageFond {
  display: flex;
  justify-content: center;
  background-image: url('../images/books-1281581_1920.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

/* .navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.85rem;
  padding-bottom: 0.85rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.navbar-expand-lg {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-primary {
  --bg-opacity: 1;
  background-color: rgba(var(--first-rgb), var(--bg-opacity)) !important;
}

.navbar-transparent {
  background: none !important;
  box-shadow: none;
}

body > .navbar-transparent {
  box-shadow: none;
}

#home .navbar, #help .navbar {
  background: var(--third-rgb);
  background: linear-gradient(145deg, #375ee3 0%, #6543e0 80%);
  transition: box-shadow 200ms ease-in;
}

.nav-item {
  float: left;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */ /*
  text-decoration: none;
}

.navbar-nav {
  list-style-type: none;
}

 /* Dropdown Button */ /*
 .dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */ /*
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */ /*
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */ /*
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */ /*
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */ /*
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */ /*
  .show {display:block;}  */