{% extends "base.html.twig" %}

{% block body %}
    <div>
        <img src="{{ asset('images/books-1281581_1920.jpg') }}" alt="Image de bibliothèque" style="width: 100%; z-index: -1;">
        <div class="title">
            <h1 class="title">Lappinventaire</h1>
        </div>
    </div>
{% endblock %}