{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
	<div class="imageFond imageAccueil">
		<div class="title">
			<h1 class="title">Lappinventaire</h1>
		</div>
	</div>
{% endblock %}
