{% extends 'base.html.twig' %}

{% block title %}New Collectible{% endblock %}

{% block body %}
    <h1>Create new Collectible</h1>

    {{ include('collectible/_form.html.twig') }}

    <a href="{{ path('collectible_index') }}">back to list</a>
{% endblock %}
